# C style with BSD/KNF influence, but spaces instead of tabs.
BasedOnStyle: LLVM
Language: C
IndentWidth: 4
UseTab: Never
ColumnLimit: 110

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: Never

SpaceBeforeParens: ControlStatements
PointerAlignment: Right
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
SortIncludes: false
IndentCaseLabels: false
IndentPPDirectives: AfterHash
